<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books</h1>

<%= form_with method: :get do |f| %>
  <div id="search-box">
    <%= f.text_field :query, class: "form-control", placeholder: "Search for:" %>
  </div>
<% end %>

<%= link_to "New book", new_book_path %>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>
