<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag @book do %>
  <%= render @book %>

  <div>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Back", books_path %>
    <%= button_to "Destroy", @book, method: :delete %>
  </div>

  <div>
    <p>Add review</p>
    <%= render "review_form" %>
    <%= render "reviews_list" %>
  </div>
<% end %>
